<div class="min-h-screen flex surface-ground">
  <div id="app-sidebar"
    class="surface-section h-screen relative hidden lg:block flex-shrink-0 lg:sticky left-0 top-0 z-1 border-right-1 surface-border select-none flex flex-column h-full "  style="width:20%">
  <app-sidemenu [identificationComponentState] = "true"></app-sidemenu>
  </div>
  <div class="min-h-screen relative flex-auto" style="width:80%">
    <app-nav-bar-navigation [buttonState]="2" (previous)="navigateToOfficeComponent()" (next)="navigateToDocumentComponent()"></app-nav-bar-navigation>

  <div class="flex flex-column flex-auto col-12">
    <div class="p-0">
      <div class="grid">
        <!--<div class="col-12 xl:col-6" style="border: 5px solid red">-->
        <div class="surface-card  border-round p-4" style="width: 100%">
          <div class="text-xl text-900 font-medium mb-2">
            <h3>{{ 'IDENTIFICATION.PLATE_IDENTIFICATION' | translate }} <span style="font-weight: lighter">-3/3</span>
            </h3>
            <hr>
          </div>

          <div class="mb-12">
            <div class="row">
              <div class="col-md-5">
                <h5 class="card-title">{{ 'IDENTIFICATION.LAND_TITLE' | translate }}</h5>
                <p class="card-text">
                  {{ 'IDENTIFICATION.LAND_TITLE_TEXT' | translate }}
                </p>
              </div>
              <div class="col-md-1">
                <br>
                <br>
                <button pButton pRipple (click)="openDialog()" class="w-auto "
                  style="background-color:white;border-color: white;">
                  <i class="pi pi-map" style="color: black;"></i>
                </button>

              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <div class="row g-3">
                    <div class="col-md-4">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" (click)="check($event)" [checked]="isActiveFormNicad" name="inlineRadioOptions"
                          id="inlineRadio1" value="nicad">
                        <label class="form-check-label" for="inlineRadio1">{{ 'IDENTIFICATION.NICAD' | translate
                          }}</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" (click)="check($event)" [checked]="isActiveFormLtPlot" name="inlineRadioOptions"
                          id="inlineRadio2" value="titleNumber">
                        <label class="form-check-label" for="inlineRadio2">{{ 'IDENTIFICATION.LAND_TITLE' | translate }}
                        </label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" (click)="check($event)" [checked]="isActiveFormNLot" name="inlineRadioOptions"
                          id="inlineRadio3" value="nLot">
                        <label class="form-check-label" for="inlineRadio3">{{ 'IDENTIFICATION.LOT_NUMBER_ALLOTMENT' |
                          translate }}</label>
                      </div>
                    </div>
                  </div>
                  <br>
                  <form #f="ngForm" class="row g-3" *ngIf="this.optionsRadio == 'nicad' || this.isActiveFormNicad">
                    <div class=" col-md-12 mb-1">
                      <label for="inputNicad" class="form-label">{{ 'IDENTIFICATION.NICAD' | translate }} <span
                        style="color: red;">*</span></label>
                        <div class="input-group">
                          <input type="text" class="form-control form-control-sm" name="nicad" [(ngModel)]="nicad"
                        id="inputNicad" required>
                        <button style="background-color: #583A14;" class="btn-eland float-end" icon="pi pi-search" iconPos="right" pButton pRipple
                        [disabled]="f.invalid" (click)="onSubmit()" label=" {{'COMMON.ACTIONS.SEARCH' | translate}}"
                        type="button" id="inputGroupFileAddon04"></button>
                      </div>
                    </div>
                  </form>
                  <form #f="ngForm" class="row g-3" *ngIf="this.optionsRadio == 'titleNumber' || this.isActiveFormLtPlot">
                    <div class=" col-md-12 mb-1">
                      <label for="inputParcelle" class="form-label">{{ 'IDENTIFICATION.LAND_TITLE' | translate }} <span
                        style="color: red;">*</span></label>
                        <div class="input-group">
                          <input type="text" class="form-control form-control-sm" name="titleNumber" [(ngModel)]="titleNumber"
                          id="inputParcelle" required>
                        <button style="background-color: #583A14;"  class="btn-eland float-end" icon=" pi pi-search" iconPos="right" pButton pRipple
                        [disabled]="f.invalid" (click)="onSubmit()" label=" {{'COMMON.ACTIONS.SEARCH' | translate}}"
                        type="button" id="inputGroupFileAddon04"></button>
                      </div>
                    </div>
                  </form>
                  <form #f="ngForm" class="row g-3" *ngIf="this.optionsRadio == 'nLot' || this.isActiveFormNLot">
                    <div class="col-md-4">
                      <label for="inputNicad" class="form-label">{{ 'IDENTIFICATION.LOT_NUMBER' | translate }} <span
                          style="color: red;">*</span></label>
                      <input type="text" class="form-control form-control-sm" name="nLot" [(ngModel)]="nLot"
                        id="inputNicad" required>
                    </div>
                    <div class="col-md-4">
                      <label for="inputNicad" class="form-label">{{ 'IDENTIFICATION.ALLOTMENT' | translate }} <span
                          style="color: red;">*</span></label>
                      <input type="text" class="form-control form-control-sm" name="nLot" [(ngModel)]="allotment"
                        id="inputNicad" required>
                    </div>

                    <div class="col-md-4" style="margin-top:42px">
                      <button style="background-color: #583A14;" class="btn-eland float-end" icon=" pi pi-search" iconPos="right" pButton pRipple
                        [disabled]="f.invalid" (click)="onSubmit()" label=" {{'COMMON.ACTIONS.SEARCH' | translate}}"
                        type="button" id="inputGroupFileAddon04"></button>
                    </div>
                  </form>
                  <br>
                  <div class="row g-3">
                    <div class="col-md-6">
                      <label for="inputRegion" class="form-label">{{ 'IDENTIFICATION.REGION' | translate }} <span
                          style="color: red;">*</span></label>
                      <input type="text" class="form-control form-control-sm" value="{{identification?.regionName}}"
                        id="inputRegion" readonly>
                    </div>
                    <div class="col-md-6">
                      <label for="inputDepartment" class="form-label">{{ 'IDENTIFICATION.DEPARTMENT' | translate }}
                        <span style="color: red;">*</span></label>
                      <input type="text" class="form-control form-control-sm" value="{{identification?.circleName}}"
                        id="inputDepartment" readonly>
                    </div>
                    <div class="col-md-6">
                      <label for="inputCommune" class="form-label">{{ 'IDENTIFICATION.TOWNSHIP' | translate }} <span
                          style="color: red;">*</span></label>
                      <input type="text" class="form-control form-control-sm" value="{{identification?.divisionName}}"
                        id="inputCommune" readonly>
                    </div>
                    <div class="col-md-6">
                      <label for="inputVillageQuartier" class="form-label">{{ 'IDENTIFICATION.VILLAGE_OR_DISTRICT' |
                        translate }} <span style="color: red;">*</span></label>
                      <input type="text" class="form-control form-control-sm" value="{{identification?.districtName}}"
                        id="inputVillageQuartier" readonly>
                    </div>
                    <div class="col-md-6">
                      <label for="inputDateCreation" class="form-label">{{ 'IDENTIFICATION.CREATION_DATE' | translate }}
                        <span style="color: red;">*</span></label>
                        <!-- <p-calendar dateFormat="dd-mm-yy" inputId="dateformat" [(ngModel)]="identification.creationDate" [style]="{'width': '100%'}" [disabled]="true"></p-calendar> -->

                      <input type="text" class="form-control form-control-sm" value="{{identification?.creationDate }}"
                        id="inputDateCreation" readonly>
                    </div>
                    <div class="col-md-6 ">
                      <label for="inputDateDelivrance" class="form-label">{{ 'IDENTIFICATION.DATE_OF_ISSUE' | translate
                        }}<span style="color: red;">*</span></label>
                      <input type="text" class="form-control form-control-sm" value="{{identification?.issueDate}}"
                        id="inputDateDelivrance" readonly>
                    </div>
                    <div class="col-md-6">
                      <label for="inputNLot" class="form-label" style="color:#808080 ;">{{ 'IDENTIFICATION.LOT_NUMBER' |
                        translate }}</label>
                      <input type="text" class="form-control form-control-sm" value="{{identification?.lotNumber}}"
                        id="inputNLot" readonly>
                    </div>
                    <div class="col-md-6">
                      <label for="inputLotissement" class="form-label" style="color:#808080 ;">{{
                        'IDENTIFICATION.ALLOTMENT' | translate }}</label>
                      <input type="text" class="form-control form-control-sm" value="{{identification?.lotName}}"
                        id="inputLotissement" readonly>
                    </div>
                    <div class="col-md-6">
                      <label for="inputCodeSection" class="form-label">{{ 'IDENTIFICATION.SECTION_CODE' | translate
                        }}</label>
                      <input type="text" class="form-control form-control-sm" value="{{identification?.sectionCode}}"
                        id="inputCodeSection" readonly>
                    </div>
                    <div class="col-md-6">
                      <label for="inputNParcelle" class="form-label">{{ 'IDENTIFICATION.N_PARCEL' | translate }}</label>
                      <input type="text" class="form-control form-control-sm" value="{{identification?.parcelNumber}}"
                        id="inputNParcelle" readonly>
                    </div>
                    <div class="col-md-6">
                      <label for="inputSuperficieReel" class="form-label">{{ 'IDENTIFICATION.AREA_ACTUAL' | translate
                        }}</label>
                      <input type="text" class="form-control form-control-sm" value="{{identification?.areaSize}}"
                        id="inputSuperficieReel" readonly>
                    </div>
                    <div class="col-md-6">
                      <label for="inputSuperficieLegale" class="form-label">{{ 'IDENTIFICATION.AREA_LEGAL' | translate
                        }} <span style="color: red;">*</span></label>
                      <input type="text" class="form-control form-control-sm" value="{{identification?.legalArea}}"
                        id="inputSuperficieLegale" readonly>
                    </div>
                    <div class="col-md-6">
                      <label for="inputNombreCopies" class="form-label">{{ 'IDENTIFICATION.NUMBER_OF_COPIES' | translate
                        }}<span style="color: red;">*</span></label>
                      <input type="text" class="form-control form-control-sm" value="{{identification?.copiesNumber}}"
                        id="inputNombreCopies" readonly>
                    </div>
                    <div class="col-md-6">
                      <label for="inputinputNombreDuplicata" class="form-label">{{ 'IDENTIFICATION.NUMBER_OF_DUPLICATA'
                        | translate }}</label>
                      <input type="text" class="form-control form-control-sm" value="{{identification?.duplicateNumber}}"
                        id="inputinputNombreDuplicata" readonly>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-map *ngIf="dialogConfig?.showAction!" [config]="dialogConfig!" (identificationEvent)="redisplayInfos($event)"
  (next)="next($event)" (previous)="previous($event)" (save)="save()">

</app-map>
