<p-dialog
  class="eland-dialog"
  [(visible)]="config.display"
  [style]="{width: '70vw'}"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
  [modal]="true"
  appendTo="body"
  [maximizable]="true"
  [rtl]="true"
  (onHide)="goCancel()">
  <ng-template pTemplate="header">
    {{ config.title }}
  </ng-template>

  <div *ngIf="(config!.tabs === null) || (config!.tabs!.length < 1)" class="px-5 container dialog-container">
    <ng-container [ngTemplateOutlet]="contentRef!">
    </ng-container>
  </div>

  <div *ngIf="(config!.tabs! !==null) && (config!.tabs!.length > 0)" class="dialog-container">
    <div class="row">
      <div class="col-md-2 p-0">
        <div class="nav flex-column nav-pills" id="portal-dialog-tab" role="tablist" aria-orientation="vertical">
          <ng-container *ngFor="let tab of config.tabs; let index = index; let isFirst = first">
            <button
              (click)="changeTab(index)"
              class="nav-link"
              [ngClass]="{'active': activeTab === index, 'disabled': tab.disabled}"
              id="v-pills-{{ index }}-tab"
              data-bs-toggle="pill"
              [attr.data-bs-target]="'#v-pills-' + index"
              type="button"
              role="tab"
              [disabled]="tab.disabled"
              [attr.aria-controls]="'#v-pills-' + index"
              aria-selected="true">
              {{ tab.name }}
              <span *ngIf="tab.warning" class="badge float-end"><i class="pi pi-exclamation-triangle text-danger"></i></span>
            </button>
          </ng-container>
        </div>
      </div>
      <div class="col-md-10 eland-dialog-form">
        <div class="tab-content" id="eland-dialog-tabContent">
          <ng-container *ngFor="let tab of config.tabs; let index = index; let isFirst = first">
            <ng-template #defaultContent>
              <div class="tab-pane fade" [ngClass]="{'show active': activeTab === index}" id="v-pills-{{ index }}" role="tabpanel" [attr.aria-labelledby]="'v-pills-' + index">
                Content not found
              </div>
            </ng-template>

            <ng-container
              [ngTemplateOutlet]="contentRef || defaultContent"
              [ngTemplateOutletContext]="{ $implicit: tab, index: index}">
              <div class="tab-pane fade" [ngClass]="{'show active': activeTab === index}" id="v-pills-{{ index }}" role="tabpanel" [attr.aria-labelledby]="'v-pills-' + index">
                <ng-template #defaultTab>
                  Content not load
                </ng-template>

                <ng-container
                  [ngTemplateOutlet]="tabRef || defaultTab"
                  [ngTemplateOutletContext]="{ $implicit: tab, index: index}"
                >
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer" *ngIf="config.showAction">
    <p  *ngIf="!config.isDisable && config!.tabs![this.activeTab].required!" class="float-start"><span class="text-danger">*</span>{{'MESSAGES.REQUIRED' | translate}}</p>
    <div *ngIf="!config.isDisable">
      <button type="button" pButton pRipple label="{{'COMMON.ACTIONS.CANCEL' | translate}}" class="btn-eland-warn me-3" (click)="goCancel()"></button>
      <ng-container *ngIf="config!.tabs!.length > 1">
        <button type="button" pButton pRipple [disabled]="this.activeTab === 0" icon="pi pi-chevron-left" iconPos="left" label="{{'COMMON.ACTIONS.PREV' | translate}}" class="btn-eland-second ms-2" (click)="goPrevious(this.activeTab === 0)"></button>
        <button type="button" pButton pRipple [disabled]="this.activeTab === config!.tabs!.length-1 || config!.tabs![this.activeTab].warning!" icon="pi pi-chevron-right" iconPos="right" label="{{'COMMON.ACTIONS.NEXT' | translate}}" class="btn-eland-second ms-2" (click)="goNext(config!.tabs![this.activeTab].warning! || this.activeTab === config!.tabs!.length-1)"></button>
      </ng-container>
      <ng-container *ngIf="!config!.hideSave!">
        <button type="button" pButton pRipple [disabled]="!config!.canSave!" label="{{'COMMON.ACTIONS.SAVE' | translate}}" class="btn-eland ms-2" (click)="goSave()"></button>
      </ng-container>
    </div>
    <div *ngIf="config.isDisable">
      <button type="button" pButton pRipple  label="{{'COMMON.ACTIONS.CLOSE' | translate}}" class="btn-eland-disable"
                 (click)="goClose()"></button>
    </div>
  </ng-template>
</p-dialog>
