<section class="lost-password-page">

  <div *ngIf="loading" class="row username pt-4 pb-4">
    <ngx-ui-loader></ngx-ui-loader>
  </div>

  <!-- Lost password  -->
  <section class="main main-loss-password ">
    <div class="row">
      <div class="col-6 to-login pt-3">
        <a routerLink="/login">
          <p>
            <i class="pi pi-chevron-left"></i>
            {{'LOSTPASSWORD.TO_LOGIN' | translate}}
          </p>
        </a>
      </div>
      <div class="col-6">
        <img [src]="sgfLogo" alt="Image" class="logo logo-loss-password">
      </div>
    </div>

    <div class="global-form lost-password-form">
      <div class="copy-block">
        <div class="title-header">
          <a href="https://sogematech.com/en/lamp" target="_blank" rel="noopener">
            <i class="icon icon-go-eland"></i>
          </a>
          <p>{{'LOSTPASSWORD.TITLE_HEADER' | translate}}</p>
        </div>

        <div class="message" *ngIf="errorMessage">
          <p>{{'LOSTPASSWORD.EMPTY_EMAIL' | translate}}</p>
        </div>
        <div class="message" *ngIf="codeError">
          <p>{{'LOSTPASSWORD.CODE_ERROR' | translate}}</p>
        </div>

        <div *ngIf="!emailSent" class="instruction">
          {{'LOSTPASSWORD.INSTRUCTION' | translate}}
        </div>
        <div *ngIf="emailSent" class="instruction">
          {{'LOSTPASSWORD.CODE_INSTRUCTION' | translate}}
        </div>
      </div>

      <form>
        <div *ngIf="!emailSent" class="row username pt-4 pb-4">
          <div class="col-12">
            <input type="text" name="username" placeholder="{{'LOSTPASSWORD.USERNAME' | translate}}"
                   [(ngModel)]="username" [disabled]="emailSent"/>
          </div>
        </div>

        <div *ngIf="emailSent" class="row username pt-4 pb-4">
          <div class="col-12">
            <input type="text" name="reset-code" placeholder="{{'LOSTPASSWORD.RESET_CODE' | translate}}"
                   [(ngModel)]="resetcode" [disabled]="loading"/>
          </div>
        </div>

        <div *ngIf="emailSent" class="row forgot-password">
          <div class="col-12">
            <a (click)="submit()">
              <p>{{'LOSTPASSWORD.RESEND' | translate}}</p>
            </a>
          </div>
        </div>

        <div *ngIf="!emailSent" class="row button-login pb-4">
          <div class="col-12">
            <div class="button" (click)="submit()" *ngIf="!loading">{{'LOSTPASSWORD.RESET' | translate}}
              <i class="icon icon-sign-in-eland"></i>
            </div>
          </div>
        </div>

        <div *ngIf="emailSent" class="row button-login pb-4">
          <div class="col-12">
            <div class="button" (click)="check()" *ngIf="!loading">{{'LOSTPASSWORD.CHECK_CODE' | translate}}
              <i class="icon icon-sign-in-eland"></i>
            </div>
          </div>
        </div>
      </form>

    </div>

  </section>
</section>
<section class="footer"></section>
