<section class="lost-password-page">
  <div *ngIf="loading" class="row username pt-4 pb-4">
    <ngx-ui-loader></ngx-ui-loader>
  </div>
  <!-- Reset password  -->
  <section class="main main-loss-password py-5">
    <div class="row mx-2">
      <div class="col-6 pt-6">
        <div class="to-login">
          <a routerLink="/login">
            <p>
              <i class="pi pi-chevron-left"></i>
              {{'RESET.TO_LOGIN' | translate}}
            </p>
          </a>
        </div>
      </div>
      <div class="col-6 img-register">
        <img [src]="sgfLogo" alt="Image" class="logo logo-register">
      </div>
    </div>
    <div class="global-form lost-password-form">
      <div class="copy-block">
        <div class="title-header align-self-auto">
          <a href="https://sogematech.com/en/lamp" target="_blank" rel="noopener">
            <i class="icon icon-go-eland"></i>
          </a>
          <p>{{'RESET.TITLE_HEADER' | translate}}</p>
        </div>
        <div class="message" *ngIf="errorMessage">
          <p>{{'RESET.ERROR' | translate}}</p>
        </div>
        <div class="message" *ngIf="emptyMessage">
          <p>{{'RESET.EMPTY' | translate}}</p>
        </div>
      </div>

      <form class="py-5">
        <div class="row password pb-3">
          <div class="col-12">
            <input type="{{showPassword ? '' : 'password'}}" name="password" placeholder="{{'RESET.PASSWORD' | translate}}" [(ngModel)]="password" [disabled]="loading" autocomplete="on" />
            <i class="fa fa-eye" (click)="showPassword = true" *ngIf="!showPassword"></i>
            <i class="fa fa-eye-slash" (click)="showPassword = false" *ngIf="showPassword"></i>
          </div>
        </div>
          <div class="row password pb-3">
          <div class="col-12">
            <input type="{{showConfirmPassword ? '' : 'password'}}" name="password" placeholder="{{'RESET.PASSWORD_COMFIRM' | translate}}" [(ngModel)]="passwordConfirm" [disabled]="loading" autocomplete="on" />
            <i class="fa fa-eye" (click)="showConfirmPassword = true" *ngIf="!showConfirmPassword"></i>
            <i class="fa fa-eye-slash" (click)="showConfirmPassword = false" *ngIf="showConfirmPassword"></i>
          </div>
        </div>

        <div class="row button-login py-3">
          <div class="col-12">
            <div class="button" (click)="submit()" *ngIf="!loading">{{'RESET.SUBMIT' | translate}}
              <i class="icon icon-sign-in-eland"></i>
            </div>
          </div>
        </div>

      </form>

    </div>
  </section>

</section>
<section class="footer"></section>
