<div class="app-footer" *ngIf="isAuthenticated">
  <div class="row">
    <div class="col-2">
      <li class="d-flex">
        <a class="nav-link text-color" routerLink="home" role="button">
          <span class="text-capitalize">{{ 'FOOTER.USEFUL_LINKS' | translate }}</span>
        </a>
      </li>
    </div>
    <div class="col-2">
      <li class="d-flex">
        <a class="nav-link text-color" routerLink="home" role="button">
          <span class="text-capitalize">{{ 'FOOTER.LEGAL_MENTION' | translate }}</span>
        </a>
      </li>
    </div>
    <div class="col-2">
      <li class="d-flex">
        <a class="nav-link text-color" routerLink="home" role="button">
          <span class="text-capitalize">{{ 'FOOTER.CONTACTS' | translate }}</span>
        </a>
      </li>
    </div>
    <div class="col-6" [style]="{'margin-top':'0.5rem'}">
      <p class="copyright ">
        <img title="{{'HEADER.APP_TITLE' | translate}}" class="logo" [src]="'assets/img/dgid-logo.png'"
          style="height: 30px; width: 100px ">
      </p>
    </div>
  </div>
</div>
