$topbarLeftBgColor:#583a14;
$topbarRightBgColor:#583a14;
$topbarLeftTextColor:#c6a531;
$topbarRightTextColor:#c6a531;
$topbarBorderBottomColor:#583a14;
$primaryColor: #583A14;
$accentColor: #c6a531;
$warningColor: #E64545;
$primaryTextColor:#ffffff;
$bodyBgColor:#F2F8FA;

//Eland custo colors
$portalBrown: #583A14;
$portalYellow: #C6A531;
$portalOrange: #FA9614;
$portalBlue: #005BCC;
$portalGreen: #2E9D14;
$portalRed: #E64545;
$portalGray: #AEAEAE;
$portalWhite:white;
$portalDarkYellow :#8D652E;
$portalDarkGray:#484848;
$portalLightGray:#EFF1F4;
//un style devrait peut être être créer pour les différents tailles et autres critères de polices 
$default-font-size: 14px;

